{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'homepage/response.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Back After Gap</title>
</head>
<body>
    <div class="heading">
        <h1 class="formhead">Form Responses</h1>
    </div>
    <div class="container">
        <div id="responseContainer"></div>
    </div>
    <script>
        // Retrieve form data from localStorage
        var formData = JSON.parse(localStorage.getItem('formData'));
        var responseContainer = document.getElementById('responseContainer');
    
        // Retrieve aboutBtnDict from form data
        var aboutBtnDict = formData['aboutBtnDict'];
    
        // Display aboutBtnDict
        var sectionHeaderElement = document.createElement('h2');
        sectionHeaderElement.textContent = 'About'; // Section header
        responseContainer.appendChild(sectionHeaderElement);
    
        for (var key in aboutBtnDict) {
            if (aboutBtnDict.hasOwnProperty(key)) {
                var responseItem = document.createElement('div');
                responseItem.innerHTML = '<strong>' + key + '</strong> ' + '<p>' + aboutBtnDict[key] + '</p>';
                responseContainer.appendChild(responseItem);
            }
        }

        var valueBtnDict = formData['valueBtnDict'];
    
        // Display aboutBtnDict
        var sectionHeaderElement = document.createElement('h2');
        sectionHeaderElement.textContent = 'Core Value'; // Section header
        responseContainer.appendChild(sectionHeaderElement);
    
        for (var key in valueBtnDict) {
            if (valueBtnDict.hasOwnProperty(key)) {
                var responseItem = document.createElement('div');
                responseItem.innerHTML = '<strong>' + key + '</strong> ' + '<p>' + valueBtnDict[key] + '</p>';
                responseContainer.appendChild(responseItem);
            }
        }
    </script>
</body>
</html>