{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'homepage/response.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Back After Gap</title>
</head>
<body>
    <div class="headline">
        <h2 class="head">Analysis</h2>
    </div>
    <div class="basicinfo">
        <div class="headcontent"><h2>Basic Information</h2></div>
        <div class="basiccontent">
            <ul class="basiclist">
                <li class="heading">Name</li>
                <li class="answer">Mayank</li>
                <li class="heading">Name</li>
                <li class="answer">Mayank</li>
                <li class="heading">Name</li>
                <li class="answer">Mayank</li>
            </ul>
        </div>
    </div>
    <div class="firstcontent">
        <div class="headcontent"><h2>Core Values</h2></div>
        <div class="valuecontent">
            <ul class="valuelist">
                <li class="heading">Value 1</li>
                <li class="answer">Response 1</li>
                <li class="heading">Value 2</li>
                <li class="answer">Response 2</li>
                <li class="heading">Value 3</li>
                <li class="answer">Response 3</li>
            </ul>
        </div>
    </div>
    <div class="secondcontent">
        <div class="headcontent"><h2>Strength</h2></div>
        <div class="strengthcontent">
            <ul class="strengthlist">
                <li class="heading">Strength 1</li>
                <li class="answer">Response 1</li>
                <li class="heading">Strength 2</li>
                <li class="answer">Response 2</li>
                <li class="heading">Strength 3</li>
                <li class="answer">Response 3</li>
            </ul>
        </div>
    </div>
    <div class="thirdcontent">
        <div class="headcontent"><h2>Weakness</h2></div>
        <div class="weakcontent">
            <ul class="weaklist">
                <li class="heading">Strength 1</li>
                <li class="answer">Response 1</li>
                <li class="heading">Strength 2</li>
                <li class="answer">Response 2</li>
                <li class="heading">Strength 3</li>
                <li class="answer">Response 3</li>
            </ul>
        </div>
    </div>
    <div class="fourthcontent">
        <div class="headcontent"><h2>Best Career</h2></div>
        <div class="bestcareercontent">
            <ul class="careerlist">
                <li class="heading">Strength 1</li>
                <li class="answer">Response 1</li>
                <li class="heading">Strength 2</li>
                <li class="answer">Response 2</li>
                <li class="heading">Strength 3</li>
                <li class="answer">Response 3</li>
            </ul>
        </div>
    </div>
</body>
</html>